div(style="padding-top: 10px; padding-bottom: 10px;")
  .col-md-2
    .panel.panel-default
      .panel-heading
        .panel-title.text-center Giveaways
      .navbar-default.sidebar(role='navigation')
        .sidebar-nav.navbar-collapse
          ul#side-menu.nav.in
            li(ng-class='{active: currentTab == 0}')
              a(href='', ng-click='setTab(0)')
                i.fa.fa-dashboard.fa-fw
                |  Created
            li(ng-class='{active: currentTab == 1}')
              a(href='', ng-click='setTab(1)')
                i.fa.fa-table.fa-fw
                |  Entered
            li(ng-class='{active: currentTab == 2}')
              a(href='', ng-click='setTab(2)')
                i.fa.fa-gift.fa-fw
                |  Won

  .col-md-10(ng-if='currentTab == 0')
    .row
      div(ng-class="showEditPanel ? 'col-lg-9' : 'col-lg-12'")
        table.table
          thead
            tr
              td(style='width: 50px;') #
              td Channel
              td Item
              td From
              td Open
              td Entries
              td Winner
              td Claimed
              td(style='width: 50px;') Link
              td(style='width: 50px;') Edit
              td(style='width: 50px;') Close
          tbody
            tr(ng-repeat='giveaway in createdGiveaways track by $index')
              td(style='width: 50px;') {{$index+1}}
              td {{giveaway.channel}}
              td {{giveaway.item}}
              td {{giveaway.fromUser}}
              td {{giveaway.open}}
              td {{giveaway.enteredList.length}}
              td {{giveaway.winner}}
              td {{giveaway.claimed}}
              td(style='width: 50px;')
                button.btn(ng-click='gotoGiveaway($index)') Go
              td(style='width: 50px;')
                button.btn(ng-click='openEditPanel($index)') Edit
              td(style='width: 50px;')
                button.btn(ng-click='closeGiveaway($index)' ng-if="giveaway.open == true") Close
      .col-lg-3(ng-if="showEditPanel == true")
        .panel.panel-default
          .panel-heading
            .panel-title.text-center Edit {{selectedGiveawayIndex+1}}
            .a.btn.closeBtn(ng-click="closeEditPanel()") x
          .panel-body
            .alert.alert-success(ng-if='success.length > 0') {{success}}
            form(ng-submit='editGiveaway()', name='form', role='form')
              .form-group
                label(for='channel') Channel:
                input.form-control(type='text', ng-model='selectedGiveaway.channel', required='')
              .form-group
                label(for='item') Item:
                input.form-control(type='text', ng-model='selectedGiveaway.item', required='')
              .form-group
                label(for='from') From:
                input.form-control(type='text', ng-model='selectedGiveaway.fromUser', required='')
              .form-group
                label(for='mustClaim') Must Claim: 
                  input(type='checkbox' ng-model='selectedGiveaway.mustClaim' ng-value="true" name='claimReq')
              .form-group(ng-if='selectedGiveaway.mustClaim == true')
                  label(for='claimTime') Claim Time (seconds):
                  input.form-control(type="number", name="claimTime", ng-model="selectedGiveaway.claimTime", min="30", max="600" required='')
              .form-group
                label(for='requirements') Requirements:
                  .checkbox
                    input(type='checkbox' ng-model='selectedGiveaway.mustFollow' ng-value="true" name='followReq')
                    | Following
                  .checkbox
                    input(type='checkbox' ng-model='selectedGiveaway.mustSub' ng-value="true" name='subReq')
                    | Subscribe
              .form-group
                label(for='emailCreator') Email me the results: 
                  input(type='checkbox' ng-model='selectedGiveaway.emailCreator' ng-value="true" name='emailReq')
              .form-actions
                button.btn.btn-primary(type='submit', ng-disabled='form.$invalid || dataLoading') Update
                img(ng-if='dataLoading', src='data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==')

  .col-md-10(ng-if='currentTab == 1')
    .row
      div.col-lg-12
        table.table
          thead
            tr
              td(style='width: 50px;') #
              td Channel
              td Item
              td From
              td Open
              td Entries
              td Winner
              td Claimed
              td(style='width: 50px;') Link
          tbody
            tr(ng-repeat='giveaway in enteredGiveaways track by $index')
              td(style='width: 50px;') {{$index+1}}
              td {{giveaway.channel}}
              td {{giveaway.item}}
              td {{giveaway.fromUser}}
              td {{giveaway.open}}
              td {{giveaway.enteredList.length}}
              td {{giveaway.winner}}
              td {{giveaway.claimed}}
              td(style='width: 50px;')
                button.btn(ng-click='gotoGiveaway($index)') Go

  .col-md-10(ng-if='currentTab == 2')
    .row
      div.col-lg-12
        table.table
          thead
            tr
              td(style='width: 50px;') #
              td Channel
              td Item
              td From
              td Open
              td Entries
              td Winner
              td Claimed
              td(style='width: 50px;') Link
          tbody
            tr(ng-repeat='giveaway in wonGiveaways track by $index')
              td(style='width: 50px;') {{$index+1}}
              td {{giveaway.channel}}
              td {{giveaway.item}}
              td {{giveaway.fromUser}}
              td {{giveaway.open}}
              td {{giveaway.enteredList.length}}
              td {{giveaway.winner}}
              td {{giveaway.claimed}}
              td(style='width: 50px;')
                button.btn(ng-click='gotoGiveaway($index)') Go
